{% extends "wordsinmovies_main/base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block extra_css %}

<style>

  th {border: 1px solid black; text-align: center; background-color: #FFFFFF;}
  td {border: 1px solid black}
  tr:nth-child(even) {background-color: #f2f2f2;}
  tr:nth-child(odd) {background-color: #ffffff;}
  table {text-align:left; border-collapse: collapse;}

  .marked{
    background-color:#ffff99;
  }

  #toggle_button{
    position: absolute;
    bottom:0rem;
    height:2.5rem;
    width:100%;
    /* max-width:305px; */
    /* min-width:60px; */
    /* margin-top: 2.5rem; */
    /* margin-left:auto; */
    font-size: 25px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    background-color: #FFFF;
    text-align:center;
    display: block;
  }

  @media (max-width: 575px) {
    .toggle_button_column{
      height: 2.5rem;
    }
  }

  #title{
    color: white;
    /* text-shadow: -1px 0 #e67300, 0 1px  #e67300, 1px 0  #e67300, 0 -1px  #e67300; */
    text-shadow: 0 0 0.2em #04519b, 0 0 0.2em #04519b;/*,  0 0 0.2em #0066ff;*/
    text-align: center;
    margin-top: 0.8em;
  }

</style>

<link rel="stylesheet" href='{% static "wordsinmovies_main/css/cosy_selector.css" %}'>

{% endblock extra_css %}

{% block extra_js %}

<script src='{% static "wordsinmovies_main/js/cosy_selector.js" %}'></script>

<script>

  function reduce_paginator(xs_breakpoint){

    if (xs_breakpoint.matches)
    {
      document.getElementById('paginator-large').style.display = 'none';
      document.getElementById('paginator-small').style.display = 'block';
    }
    else{
      document.getElementById('paginator-large').style.display = 'block';
      document.getElementById('paginator-small').style.display = 'none';
    }
  }

  function set_cosy_selector(widget_name, value, content){
    document.querySelector('input[name="' + widget_name + '"]').setAttribute('value', value);
    document.querySelector('.cosy_selector-select__trigger[input_widget="' + widget_name + '"] span').textContent = content;
  }

  function get_cosy_selector(widget_name){
    const value = document.querySelector('input[name="' + widget_name + '"]').getAttribute('value');
    return value
  }

  function choose_cosy_selector_options(widget_name, options){
    for (const option of document.querySelectorAll('.cosy_selector-option[input_widget="' + widget_name + '"]')) {
      if (options.includes(option.getAttribute("value"))){
        option.style.display="block";
      }
      else {
        option.style.display="none";
      }
    }
  }

  const language_code = {ru: "Russian", en: "English", fr: "French"};
  const language_map = {en: ["ru", "fr"], ru: ["en"], fr: ["en"]};

  function ToggleLanguages(){

    const lang1 = get_cosy_selector("lang1");
    const lang2 = get_cosy_selector("lang2");

    if (language_map[lang2].includes(lang1)) {
      set_cosy_selector("lang1", lang2, language_code[lang2]);
      choose_cosy_selector_options("lang2", language_map[lang2]);
      set_cosy_selector("lang2", lang1, language_code[lang1]);
    }
  }

  window.onload = function() {

      init_cosy_selectors();

      choose_cosy_selector_options("lang2", language_map[get_cosy_selector("lang1")]);

      for (const option of document.querySelectorAll('.cosy_selector-option[input_widget="lang1"]'))
      {
        option.onclick = function(){
          choose_cosy_selector_options("lang2", language_map[option.getAttribute("value")]);
          const first_choice = language_map[option.getAttribute("value")][0];
          set_cosy_selector("lang2", first_choice, language_code[first_choice] );
          set_cosy_selector("lang1", option.getAttribute("value"), option.textContent );

        };
      }

      var xs_breakpoint = window.matchMedia("(max-width: 400px)");
      reduce_paginator(xs_breakpoint);
      xs_breakpoint.addListener(reduce_paginator);
  };

  function ShowExtraOptions(){
    var content = document.getElementById("extra_options");
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  }


</script>

{% endblock extra_js %}

{% block content %}

<h1 id="title">WordsInMovies</h1>
<div style="text-align:center; margin-top:2em; color:lightgray;">Learn how words are used in spoken language based on
the free movie subtitles database <a href="https://www.opensubtitles.org" style="color:lightgray"> <u> OpenSubtitles.org </u> </a> </div>

<div class="container" style="max-width:768px; min-width:250px; margin-top:3em;">

<form action="{% url 'wordsinmovies_main:index' %}" method="POST">

  {% csrf_token %}

  <div class="form-row px-0">
    <div class="form-group col-12  col-sm-5 pl-1 pr-1" >
      {{ form.lang1.label_tag }}
        {% render_field form.lang1 class="form-control" id="first_language"%}
    </div>
    <div class="w-100 d-block d-sm-none"></div>
    <div class="form-group col-2 col-sm-1 offset-5 offset-sm-0 px-0 toggle_button_column" >
      <button type="button" onclick="ToggleLanguages()" id="toggle_button">
        &#x21c6;
      </button>
    </div>
    <div class="w-100 d-block d-sm-none"></div>
    <div class="form-group col-12  col-sm-5 pr-1 pl-1" >
      {{ form.lang2.label_tag }}
        {% render_field form.lang2 class="form-control" id="second_language" %}
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-12 col-sm-10">
      {% render_field form.query class="form-control" %}
    </div>
    <div class="w-100 d-block d-sm-none"></div>
    <div class="form-group col-2">
      <button type="submit" class="btn btn-primary" style="width:100%;min-width:100px;">Search</button>
    </div>
  </div>


  <div style="text-align:right;margin-top:-0.8rem;">
    <a href="{% url 'wordsinmovies_main:help' %}"> <u>Help</u> </a>&nbsp
    <a onclick="ShowExtraOptions()" href="#"> <u>Extra options</u> </a>
  </div>

<div id="extra_options" style="display:none; border:2px solid #F5F5F5; padding:1em; margin-top:1em;">
  <div class="form-row">
    <div class="form-group col-5">
      <div style="float:left;margin-right:1em;position:relative;top:0.1rem">
          {{ form.res_per_page.label_tag }}
      </div>
      <div style="height:2rem">
        {% render_field form.res_per_page  class="form-control" %}
      </div>
    </div>
    <div class="form-group col-5">
      <div style="float:left;position:relative;top:0.1em;">{{ form.pos_tags.label_tag }}</div>
        {% render_field form.pos_tags class="form-control" style="position:relative;bottom:0.25em;width:2rem;float:left;margin-left:0.5em;" %}
    </div>
  </div>
</div>

</form>

</div>


<div class="container" style="max-width:1000px;">
{% if error %}
<h4 class="mt-5 text-muted" style="text-align:center;font-weight:normal"> {{error_msg}} </h4>
  {% elif not excerpts %}
  {% else %}
    <div style="text-align:left;">
    Total matches: {{total_found}}
    </div>
    <table style="position:relative; z-index:-1;">
      <col width="50%">
      <col width="50%">
      <thead>
        <tr>
          <th>{{table_headers.0}}</th>
          <th>{{table_headers.1}}</th>
        </tr>
      </thead>
      <tbody>
      {% for excerpt in excerpts %}
        <tr>
          <td>{{ excerpt.0|safe }}</td>
          <td>{{ excerpt.1|safe }}</td>
        </tr>
        <tr >
          <td colspan="2" style="text-align:center;">
            {{ excerpt.2|safe }}, <a href="https://www.imdb.com/title/tt{{excerpt.3|safe}}"> IMDB ID: {{excerpt.3|safe}}</a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
{% endif %}

<nav  class="d-flex justify-content-center" style="display:inline-block; margin-top:20px;">

<div id="paginator-small">
{% if paginator_small.has_other_pages %}
  <ul class="pagination">
    {% if paginator_small.has_previous %}
      <li class="page-item"><a class="page-link" href="?q={{query}}&lang1={{languages.0}}&lang2={{languages.1}}&num={{res_per_page}}&page={{paginator_small.previous_page_number}}&pos_tags={{pos_tags}}">&laquo;</a></li>
    {% else %}
      <li class="page-item disabled"><span><a class="page-link" href="#">&laquo;</a></span></li>
    {% endif %}
    {% for i in paginator_small.page_range %}
      {% if paginator_small.number == i %}
        <li class="page-item active"><span><a class="page-link" href="?q={{query}}&lang1={{languages.0}}&lang2={{languages.1}}&num={{res_per_page}}&page={{paginator_small.number}}&pos_tags={{pos_tags}}">{{ i }}</a><span class="sr-only"></span></span></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?q={{query}}&lang1={{languages.0}}&lang2={{languages.1}}&num={{res_per_page}}&page={{ i }}&pos_tags={{pos_tags}}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if paginator_small.has_next %}
      <li class="page-item"><a class="page-link" href="?q={{query}}&lang1={{languages.0}}&lang2={{languages.1}}&num={{res_per_page}}&page={{paginator_small.next_page_number}}&pos_tags={{pos_tags}}">&raquo;</a></li>
    {% else %}
      <li class="page-item disabled"><span><a class="page-link" href="#">&raquo;</a></span></li>
    {% endif %}
  </ul>
{% endif %}
</div>

<div id="paginator-large">
{% if paginator_large.has_other_pages %}
  <ul class="pagination">
    {% if paginator_large.has_previous %}
      <li class="page-item"><a class="page-link" href="?q={{query}}&lang1={{languages.0}}&lang2={{languages.1}}&num={{res_per_page}}&page={{paginator_large.previous_page_number}}&pos_tags={{pos_tags}}">&laquo;</a></li>
    {% else %}
      <li class="page-item disabled"><span><a class="page-link" href="#">&laquo;</a></span></li>
    {% endif %}
    {% for i in paginator_large.page_range %}
      {% if paginator_large.number == i %}
        <li class="page-item active"><span><a class="page-link" href="?q={{query}}&lang1={{languages.0}}&lang2={{languages.1}}&num={{res_per_page}}&page={{paginator_large.number}}&pos_tags={{pos_tags}}">{{ i }}</a><span class="sr-only"></span></span></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?q={{query}}&lang1={{languages.0}}&lang2={{languages.1}}&num={{res_per_page}}&page={{ i }}&pos_tags={{pos_tags}}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if paginator_large.has_next %}
      <li class="page-item"><a class="page-link" href="?q={{query}}&lang1={{languages.0}}&lang2={{languages.1}}&num={{res_per_page}}&page={{paginator_large.next_page_number}}&pos_tags={{pos_tags}}">&raquo;</a></li>
    {% else %}
      <li class="page-item disabled"><span><a class="page-link" href="#">&raquo;</a></span></li>
    {% endif %}
  </ul>
{% endif %}
</div>

</nav>


</div>

{% endblock content %}
