{% extends "wordsinmovies_main/base.html" %}
{% load widget_tweaks %}

{% block content %}
<div class="container">
  <form method="post" style="width:100%; max-width:500px;" action="{% url 'users:change_pswd' %}" class="mt-5 mx-auto">
      <p> Please, enter and confirm your new password.</p>
      {% csrf_token %}
      {% include 'users/bs4_form.html' with form=form %}
      <button type="submit" class="btn btn-primary" style="float:left">Change password</button>
  </form>
</div>
{% endblock content %}
