{% extends "wordsinmovies_main/base.html" %}
{% load widget_tweaks %}

{% block content %}
<div class="container">
  <form method="post" style="width:100%; max-width:500px;" action="{% url 'users:register' %}" class="mt-5 mx-auto">
    <p style="margin-top:4em;margin-bottom:2em;text-align:left">
      Registration is necessary to perform more than 50 searches per day.
      Please, fill in this simple form below to register. </p>
      {% csrf_token %}
      {% include 'users/bs4_form.html' with form=form %}
      <button type="submit" class="btn btn-primary" style="float:left">Register</button>
  </form>
</div>
{% endblock content %}
