<style>

.cosy_selector-select-wrapper {
       user-select: none;
  }

  .separator{
    position:absolute;
    border-width: 0 0 0 1px;
    border-style: solid;
    border-color: #ced4da;
    right:35px;
    height:100%;
    background-color: white;
  }

.cosy_selector-select {
    position: relative;
    display: flex;
    flex-direction: column;
    border-width: 0 1px 0 1px;
    border-style: solid;
    border-color: #ced4da;
    height:100%;
    border-radius: 5px;
  }

.cosy_selector-select__trigger {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 10px;
   /* font-size: 20px; */
   /* font-weight: 300; */
   color: #3b3b3b;
   height: 100%;
   line-height: 100%;
   background: #ffffff;
   cursor: pointer;
   border-width: 1px 0px 1px 0;
   border-style: solid;
   border-color: #ced4da;
   border-radius: 5px;
   height:2.5rem;
}

.cosy_selector-options {
   position: absolute;
   display: block;
   top: 100%;
   left: 0;
   right: 0;
   border: 1px solid #ced4da;
   border-top: 0;
   background-color: whitesmoke;
   transition: all 0.2s;
   opacity: 0;
   visibility: hidden;
   pointer-events: none;
   z-index:4;
}

.cosy_selector-select.open .cosy_selector-options {
   opacity: 1;
   visibility: visible;
   pointer-events: all;

}

.cosy_selector-option {
   position: relative;
   display: block;
   padding: 0 10px 0 10px;
   /* font-size: 22px; */
   /* font-weight: 300; */
   color: #3b3b3b;
   line-height: 2em;
   cursor: pointer;
   transition: all 0.2s;
}

.cosy_selector-option:hover {
   cursor: pointer;
   color: #ffffff;
   background-color: #4d94ff;
}
 /* .cosy_selector-option.selected {
   color: #ffffff;
   background-color: #4d94ff;
} */

.arrow {
   position: relative;
   height: 10px;
   width: 9px;
}

.arrow::before, .arrow::after {
   content: "";
   position: absolute;
   bottom: 0px;
   width: 0.15rem;
   height: 100%;
   transition: all 0.5s;
}

.arrow::before {
   left: -3px;
   transform: rotate(45deg);
   background-color: gray;
}

.arrow::after {
   left: 3px;
   transform: rotate(-45deg);
   background-color: gray;
}

 .open .arrow::before {
   left: -3px;
   transform: rotate(-45deg);
}

.open .arrow::after {
   left: 3px;
   transform: rotate(45deg);
}


</style>
